--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_product_sizes; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_product_sizes (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    size_id bigint NOT NULL
);


ALTER TABLE django.app_product_sizes OWNER TO bogdan;

--
-- Name: app_product_sizes_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_product_sizes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_product_sizes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_product_sizes; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Name: app_product_sizes_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_product_sizes_id_seq', 118, true);


--
-- Name: app_product_sizes app_product_sizes_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_pkey PRIMARY KEY (id);


--
-- Name: app_product_sizes app_product_sizes_product_id_size_id_8d47d5a8_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_product_id_size_id_8d47d5a8_uniq UNIQUE (product_id, size_id);


--
-- Name: app_product_sizes_product_id_3ccc1633; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_product_sizes_product_id_3ccc1633 ON django.app_product_sizes USING btree (product_id);


--
-- Name: app_product_sizes_size_id_bbb45f1e; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_product_sizes_size_id_bbb45f1e ON django.app_product_sizes USING btree (size_id);


--
-- Name: app_product_sizes app_product_sizes_product_id_3ccc1633_fk_app_product_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_product_id_3ccc1633_fk_app_product_id FOREIGN KEY (product_id) REFERENCES django.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_product_sizes app_product_sizes_size_id_bbb45f1e_fk_app_size_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_size_id_bbb45f1e_fk_app_size_id FOREIGN KEY (size_id) REFERENCES django.app_size(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

