--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_review; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_review (
    id bigint NOT NULL,
    title character varying(20) NOT NULL,
    message text,
    rating integer NOT NULL,
    date date NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT app_review_rating_check CHECK ((rating >= 0))
);


ALTER TABLE django.app_review OWNER TO bogdan;

--
-- Name: app_review_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_review; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Name: app_review_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_review_id_seq', 20, true);


--
-- Name: app_review app_review_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_review
    ADD CONSTRAINT app_review_pkey PRIMARY KEY (id);


--
-- Name: app_review_product_id_30b78593; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_review_product_id_30b78593 ON django.app_review USING btree (product_id);


--
-- Name: app_review app_review_product_id_30b78593_fk_app_product_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_review
    ADD CONSTRAINT app_review_product_id_30b78593_fk_app_product_id FOREIGN KEY (product_id) REFERENCES django.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

