--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_offer; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_offer (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    discount_type character varying(50) NOT NULL,
    discount_value numeric(5,2) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL
);


ALTER TABLE django.app_offer OWNER TO bogdan;

--
-- Name: app_offer_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_offer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_offer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_offer; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.app_offer (id, name, discount_type, discount_value, start_date, end_date) FROM stdin;
2	Black Friday	percentage	20.00	2024-11-15	2024-11-17
3	Winter Discount	percentage	15.00	2024-12-01	2024-11-30
4	Christmas Sales	percentage	50.00	2024-12-23	2024-12-26
\.


--
-- Name: app_offer_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_offer_id_seq', 4, true);


--
-- Name: app_offer app_offer_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer
    ADD CONSTRAINT app_offer_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

