--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_supplier; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_supplier (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    country character varying(50) NOT NULL,
    contact_info character varying(100),
    address text
);


ALTER TABLE django.app_supplier OWNER TO bogdan;

--
-- Name: app_suppliers_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_supplier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_supplier; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Name: app_suppliers_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_suppliers_id_seq', 11, true);


--
-- Name: app_supplier app_suppliers_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_supplier
    ADD CONSTRAINT app_suppliers_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

