--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_product; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_product (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    brand character varying(50) NOT NULL,
    category character varying(50) NOT NULL,
    supplier_id bigint NOT NULL,
    image character varying(100)
);


ALTER TABLE django.app_product OWNER TO bogdan;

--
-- Name: app_products_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_product; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Name: app_products_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_products_id_seq', 20, true);


--
-- Name: app_product app_products_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product
    ADD CONSTRAINT app_products_pkey PRIMARY KEY (id);


--
-- Name: app_products_supplier_id_id_13033b02; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_products_supplier_id_id_13033b02 ON django.app_product USING btree (supplier_id);


--
-- Name: app_product app_products_supplier_id_7d5ebb51_fk_app_supplier_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product
    ADD CONSTRAINT app_products_supplier_id_7d5ebb51_fk_app_supplier_id FOREIGN KEY (supplier_id) REFERENCES django.app_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

