--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_offer_product; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_offer_product (
    id bigint NOT NULL,
    offer_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE django.app_offer_product OWNER TO bogdan;

--
-- Name: app_offer_product_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_offer_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_offer_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_offer_product; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.app_offer_product (id, offer_id, product_id) FROM stdin;
1	2	1
2	2	2
3	2	3
4	2	4
5	2	6
6	2	7
7	2	8
8	2	9
9	2	10
10	2	11
11	3	4
12	3	5
13	3	6
14	3	7
15	3	8
16	3	9
17	3	10
18	3	11
19	3	12
20	4	7
21	4	8
22	4	9
23	4	10
24	4	11
25	4	12
26	4	13
27	4	14
28	4	15
\.


--
-- Name: app_offer_product_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_offer_product_id_seq', 28, true);


--
-- Name: app_offer_product app_offer_product_offer_id_product_id_cdecee44_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_offer_id_product_id_cdecee44_uniq UNIQUE (offer_id, product_id);


--
-- Name: app_offer_product app_offer_product_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_pkey PRIMARY KEY (id);


--
-- Name: app_offer_product_offer_id_2ee528c4; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_offer_product_offer_id_2ee528c4 ON django.app_offer_product USING btree (offer_id);


--
-- Name: app_offer_product_product_id_8804ec35; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_offer_product_product_id_8804ec35 ON django.app_offer_product USING btree (product_id);


--
-- Name: app_offer_product app_offer_product_offer_id_2ee528c4_fk_app_offer_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_offer_id_2ee528c4_fk_app_offer_id FOREIGN KEY (offer_id) REFERENCES django.app_offer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_offer_product app_offer_product_product_id_8804ec35_fk_app_product_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_product_id_8804ec35_fk_app_product_id FOREIGN KEY (product_id) REFERENCES django.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

