--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_size; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_size (
    id bigint NOT NULL,
    size numeric(3,1) NOT NULL
);


ALTER TABLE django.app_size OWNER TO bogdan;

--
-- Name: app_size_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_size ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_size_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_size; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.app_size (id, size) FROM stdin;
1	42.0
2	43.5
3	45.0
4	44.0
5	40.5
6	41.0
7	41.5
8	40.0
9	42.5
10	43.0
11	44.5
12	46.0
13	47.0
14	48.0
\.


--
-- Name: app_size_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_size_id_seq', 14, true);


--
-- Name: app_size app_size_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_size
    ADD CONSTRAINT app_size_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

