--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: django; Type: SCHEMA; Schema: -; Owner: bogdan
--

CREATE SCHEMA django;


ALTER SCHEMA django OWNER TO bogdan;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_offer; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_offer (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    discount_type character varying(50) NOT NULL,
    discount_value numeric(5,2) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL
);


ALTER TABLE django.app_offer OWNER TO bogdan;

--
-- Name: app_offer_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_offer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_offer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_offer_product; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_offer_product (
    id bigint NOT NULL,
    offer_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE django.app_offer_product OWNER TO bogdan;

--
-- Name: app_offer_product_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_offer_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_offer_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_product; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_product (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    brand character varying(50) NOT NULL,
    category character varying(50) NOT NULL,
    supplier_id bigint NOT NULL,
    image character varying(100)
);


ALTER TABLE django.app_product OWNER TO bogdan;

--
-- Name: app_product_sizes; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_product_sizes (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    size_id bigint NOT NULL
);


ALTER TABLE django.app_product_sizes OWNER TO bogdan;

--
-- Name: app_product_sizes_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_product_sizes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_product_sizes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_products_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_review; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_review (
    id bigint NOT NULL,
    title character varying(20) NOT NULL,
    message text,
    rating integer NOT NULL,
    date date NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT app_review_rating_check CHECK ((rating >= 0))
);


ALTER TABLE django.app_review OWNER TO bogdan;

--
-- Name: app_review_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_size; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_size (
    id bigint NOT NULL,
    size numeric(3,1) NOT NULL
);


ALTER TABLE django.app_size OWNER TO bogdan;

--
-- Name: app_size_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_size ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_size_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_supplier; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.app_supplier (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    country character varying(50) NOT NULL,
    contact_info character varying(100),
    address text
);


ALTER TABLE django.app_supplier OWNER TO bogdan;

--
-- Name: app_suppliers_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.app_supplier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.app_suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE django.auth_group OWNER TO bogdan;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE django.auth_group_permissions OWNER TO bogdan;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE django.auth_permission OWNER TO bogdan;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE django.auth_user OWNER TO bogdan;

--
-- Name: auth_user_groups; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE django.auth_user_groups OWNER TO bogdan;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE django.auth_user_user_permissions OWNER TO bogdan;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE django.django_admin_log OWNER TO bogdan;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE django.django_content_type OWNER TO bogdan;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE django.django_migrations OWNER TO bogdan;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: django; Owner: bogdan
--

ALTER TABLE django.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: django; Owner: bogdan
--

CREATE TABLE django.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE django.django_session OWNER TO bogdan;

--
-- Data for Name: app_offer; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.app_offer (id, name, discount_type, discount_value, start_date, end_date) FROM stdin;
2	Black Friday	percentage	20.00	2024-11-15	2024-11-17
3	Winter Discount	percentage	15.00	2024-12-01	2024-11-30
4	Christmas Sales	percentage	50.00	2024-12-23	2024-12-26
\.


--
-- Data for Name: app_offer_product; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.app_offer_product (id, offer_id, product_id) FROM stdin;
1	2	1
2	2	2
3	2	3
4	2	4
5	2	6
6	2	7
7	2	8
8	2	9
9	2	10
10	2	11
11	3	4
12	3	5
13	3	6
14	3	7
15	3	8
16	3	9
17	3	10
18	3	11
19	3	12
20	4	7
21	4	8
22	4	9
23	4	10
24	4	11
25	4	12
26	4	13
27	4	14
28	4	15
\.


--
-- Data for Name: app_product; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: app_product_sizes; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: app_review; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: app_size; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.app_size (id, size) FROM stdin;
1	42.0
2	43.5
3	45.0
4	44.0
5	40.5
6	41.0
7	41.5
8	40.0
9	42.5
10	43.0
11	44.5
12	46.0
13	47.0
14	48.0
\.


--
-- Data for Name: app_supplier; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$ep2YCky57JVyctBSd8yvCr$24/cbaUMmYxcSd7gzIq3zQ/VmyzjDjzOO3qzvIC3/z8=	2024-11-14 13:09:32.860692+02	t	bogdan			balasoiu.bogdan@gmail.com	t	t	2024-11-11 14:10:30.436969+02
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: django; Owner: bogdan
--

COPY django.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
8	app	supplier
7	app	product
9	app	size
10	app	review
11	app	order
12	app	order_item
13	app	offer
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: django; Owner: bogdan
--



--
-- Name: app_offer_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_offer_id_seq', 4, true);


--
-- Name: app_offer_product_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_offer_product_id_seq', 28, true);


--
-- Name: app_product_sizes_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_product_sizes_id_seq', 118, true);


--
-- Name: app_products_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_products_id_seq', 20, true);


--
-- Name: app_review_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_review_id_seq', 20, true);


--
-- Name: app_size_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_size_id_seq', 14, true);


--
-- Name: app_suppliers_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.app_suppliers_id_seq', 11, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.django_admin_log_id_seq', 92, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: django; Owner: bogdan
--

SELECT pg_catalog.setval('django.django_migrations_id_seq', 40, true);


--
-- Name: app_offer app_offer_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer
    ADD CONSTRAINT app_offer_pkey PRIMARY KEY (id);


--
-- Name: app_offer_product app_offer_product_offer_id_product_id_cdecee44_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_offer_id_product_id_cdecee44_uniq UNIQUE (offer_id, product_id);


--
-- Name: app_offer_product app_offer_product_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_pkey PRIMARY KEY (id);


--
-- Name: app_product_sizes app_product_sizes_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_pkey PRIMARY KEY (id);


--
-- Name: app_product_sizes app_product_sizes_product_id_size_id_8d47d5a8_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_product_id_size_id_8d47d5a8_uniq UNIQUE (product_id, size_id);


--
-- Name: app_product app_products_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product
    ADD CONSTRAINT app_products_pkey PRIMARY KEY (id);


--
-- Name: app_review app_review_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_review
    ADD CONSTRAINT app_review_pkey PRIMARY KEY (id);


--
-- Name: app_size app_size_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_size
    ADD CONSTRAINT app_size_pkey PRIMARY KEY (id);


--
-- Name: app_supplier app_suppliers_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_supplier
    ADD CONSTRAINT app_suppliers_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: app_offer_product_offer_id_2ee528c4; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_offer_product_offer_id_2ee528c4 ON django.app_offer_product USING btree (offer_id);


--
-- Name: app_offer_product_product_id_8804ec35; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_offer_product_product_id_8804ec35 ON django.app_offer_product USING btree (product_id);


--
-- Name: app_product_sizes_product_id_3ccc1633; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_product_sizes_product_id_3ccc1633 ON django.app_product_sizes USING btree (product_id);


--
-- Name: app_product_sizes_size_id_bbb45f1e; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_product_sizes_size_id_bbb45f1e ON django.app_product_sizes USING btree (size_id);


--
-- Name: app_products_supplier_id_id_13033b02; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_products_supplier_id_id_13033b02 ON django.app_product USING btree (supplier_id);


--
-- Name: app_review_product_id_30b78593; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX app_review_product_id_30b78593 ON django.app_review USING btree (product_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_group_name_a6ea08ec_like ON django.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON django.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON django.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON django.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_user_groups_group_id_97559544 ON django.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON django.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON django.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON django.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX auth_user_username_6821ab7c_like ON django.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON django.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON django.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX django_session_expire_date_a5c62663 ON django.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: django; Owner: bogdan
--

CREATE INDEX django_session_session_key_c0390e0f_like ON django.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: app_offer_product app_offer_product_offer_id_2ee528c4_fk_app_offer_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_offer_id_2ee528c4_fk_app_offer_id FOREIGN KEY (offer_id) REFERENCES django.app_offer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_offer_product app_offer_product_product_id_8804ec35_fk_app_product_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_offer_product
    ADD CONSTRAINT app_offer_product_product_id_8804ec35_fk_app_product_id FOREIGN KEY (product_id) REFERENCES django.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_product_sizes app_product_sizes_product_id_3ccc1633_fk_app_product_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_product_id_3ccc1633_fk_app_product_id FOREIGN KEY (product_id) REFERENCES django.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_product_sizes app_product_sizes_size_id_bbb45f1e_fk_app_size_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product_sizes
    ADD CONSTRAINT app_product_sizes_size_id_bbb45f1e_fk_app_size_id FOREIGN KEY (size_id) REFERENCES django.app_size(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_product app_products_supplier_id_7d5ebb51_fk_app_supplier_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_product
    ADD CONSTRAINT app_products_supplier_id_7d5ebb51_fk_app_supplier_id FOREIGN KEY (supplier_id) REFERENCES django.app_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_review app_review_product_id_30b78593_fk_app_product_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.app_review
    ADD CONSTRAINT app_review_product_id_30b78593_fk_app_product_id FOREIGN KEY (product_id) REFERENCES django.app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES django.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES django.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES django.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES django.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES django.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES django.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES django.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES django.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: django; Owner: bogdan
--

ALTER TABLE ONLY django.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES django.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

